[run]
omit = app_search_tool/**,app_company/*.py,app_company_employees/**,app_contract/**,app_performance/**,app_project/**,app_search_tool/**,app_selection_process/**
[report]
omit = app_search_tool/**,app_company/*.py,app_company_employees/**,app_contract/**,app_performance/**,app_project/**,app_search_tool/**,app_selection_process/**