[run]
source =
    app_candidate
dynamic_context = test_function
omit =
    app_search_tool/**
    app_company/**
    app_company_employees/**
    app_contract/**
    app_performance/**
    app_project/**
    app_search_tool/**
    app_selection_process/**